<!DOCTYPE html>
<html lang="en">

<head>
<!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin.ejs">Hotels Available</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add.ejs">Add Hotel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Edit User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AdminSearch.ejs">Search Hotel</a>
        </li>
      </form>
    </div>
  </div>
</nav>
<!--navbar -->

  <div class="container mt-4">
        <h2>Search a Hotel</h2>
        <input class="form-control" type="text" placeholder="Search a Hotel" aria-label="hotel name">
        <select class="form-select" aria-label="Default select example">
          <option selected>Select Room Size</option>
          <option value="1">Small</option>
          <option value="2">Medium</option>
          <option value="3">Large</option>
</select>

</html>